.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1216px;
  height: 243px;
  border: solid 2px #252529;
  padding: 0 30px;
  margin: 20px 0; 
  border-radius: 10px;
}

.card:hover {
  border: solid 2px #E07B67;
}

.cardTopo {
  display: flex;
  justify-content: space-between;
}

.cardDate {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: #E07B67;
}

.cardIcon {
  width: 32px;
  height: 32px;
}

.cardTitle {
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: 500;
  line-height: 30.62px;
  color: #FFFFFF;
  margin: 10px 0;
}

.cardText {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #AFABB6;
}